
html, body {
    font-family: Arial, sans-serif;
}

p {
    /* text-align: justify; */
    /* text-indent: 1rem; */
}



dl { 
  margin: 1rem 0;
  padding: 2px; 
}
dl div.dl-level-0 dt { 
  font-size:1.5rem; 
  font-weight: bold; 
  padding: 10px;
  border-top: 1px solid lightgrey;
}
dl div.dl-level-1 dt { 
  background-color: lightgrey; 
  display: inline-block; 
  padding: 6px 8px; 
  font-weight: bold;
}
dl dd { 
  padding: 10px 6px 10px 0; 
  margin-inline-start: 20px;
}
dl div:nth-child(odd) { 

}
dl div:nth-child(even) { 

}

h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

h2 {
    font-size: 2.0rem;
    font-weight: 900;
}

h3 {
    font-size: 1.7rem;
    font-weight: 900;
}

h4 {
    font-size: 1.4rem;
    font-weight: 900;
}

h5 {
    font-size: 1.1rem;
    font-weight: 900;
}

h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

q::before {
  font-weight: bold;
  font-size: 120%;
  vertical-align: text-top;
}
q::after {
  font-weight: bold;
  font-size: 120%;
  vertical-align: text-top;
}

ul#toc {
  list-style-type: none;
}

.smallcaps {
  font-variant: small-caps;
}

div {
    /* prevent table width 100% */
    /* display: table;  */
/*    width: fit-content; 
    height: fit-content;
    see: https://stackoverflow.com/questions/450903/how-to-make-div-not-larger-than-its-contents
    */
}

div#tableofcontents {
    margin-bottom: 80px;
}
div#tableofcontents ul {
    list-style-type: none;
}

div#tableofcontents ul.indexlevel-0 {
    font-size: 1.6rem;
    font-weight: bolder;
}
div#tableofcontents ul.indexlevel-0 > li {
    margin-top: 30px;
    margin-bottom: 20px;
}
div#tableofcontents ul.indexlevel-1 {
    font-size: 1.2rem;
    font-weight: bold;
}
div#tableofcontents ul.indexlevel-2 {
    font-size: 1rem;
    font-weight: normal;
}

/* this class is used for h0, headers for a 'part' */
div.page-part {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 180px;
    margin-top: 60px;
}

pre, code {
    background-color: #e8e8e8;
}
pre {
    padding: 10px 13px;
    margin-right: 5%;
    white-space: pre-wrap;
}
code {
    padding: 1px 6px; /* for inline code */
}
pre > code {
    padding: 0; /* for a code block (inside a pre) */
}

div.code-default {
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 3%;

}
div.code-default table {
    padding: 10px 14px;
    border-spacing: 0;
    font-family: monospace;
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
    width: 100%;
}
div.code-default table td {
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
}
div.code-default table tr.ins {
    background-color: #dfd; 
}
div.code-default table tr.del {
    background-color: #fee8e9;
}
div.code-default table tr.note {
    background-color: #e0e0e0;
}
.code-del {
    background-color: #ffb6ba;
    line-height: 1.5;
    padding: 2px 4px;
}
.code-ins {
    background-color: #97f295;
    line-height: 1.5;
    padding: 2px 4px;
}
.code-note {
    background-color: #c8c8c8;
    line-height: 1.5;
    padding: 2px 4px;
}


figure {
  display: table;
    margin-left: 0;
}
figcaption {
  font-size: 80%;
  color: grey;
  text-align: center;
  display: table-caption; caption-side: bottom ;
}
table.default {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid
}

table.default td {
    border: 1px solid #888;
    padding: 2px 3px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
}
.table-left {
    margin-left: 0;
    margin-right: auto;
}
.table-right {
    margin-right: 0;
    margin-left: auto;
}
.table-fill {
    width: 100%;
}


/* todo: nodig? */
/* uit bash manual */
/* https://tiswww.case.edu/php/chet/bash/bashref.html */

ul {
  list-style-type: disc;
}

ul.no-bullet {
    list-style: none;
}

ul, ol {
    margin-block-start: 0;
    margin-block-end: 1rem;
    margin-inline-start: -20px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul ul, ul ol, ol ol, ol ul { /* todo */
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ul list styles */
/* none, square, circle, disc                                                        */
.list-style-none   { list-style: none; }
.list-style-square { list-style: square; }
.list-style-circle { list-style: circle; }
.list-style-disc   { list-style: disc; }
.list-style-dash   { list-style-type: '\2013   '; }
/* ol list-styles */
/* decimal, decimal-leading-zero, lower-alpha, upper-alpha, lower-roman, upper-roman */
.list-style-decimal              { list-style: decimal; }
.list-style-decimal-leading-zero { list-style: decimal-leading-zero; }
.list-style-lower-alpha          { list-style: lower-alpha; }
.list-style-upper-alpha          { list-style: upper-alpha; }
.list-style-lower-roman          { list-style: lower-roman; }
.list-style-upper-roman          { list-style: upper-roman; }


.list-style-inside {
  list-style-position: inside;
}
.list-style-outside {
  list-style-position: outside;
}

/* end Lists */


blockquote>p {
    text-rendering: optimizeLegibility;
}

blockquote {
    font-style: italic;
    padding: 20px;
    background: #fff;
}

blockquote div:before {
    content: '"';
    font-size: 2.2rem;
    vertical-align: bottom;
    line-height: 0.8rem;
    padding: 0 5px;
}

blockquote div:after {
    content: '"';
    font-size: 2.2rem;
    vertical-align: top;
    line-height: 1.7rem;
    padding: 0 5px 0 0;
}

blockquote>footer {
    margin-top: .5rem;
    padding: 0;
    color: #777;
    font-size: 12pt;
    text-align: left;
    font-style: italic;
}

blockquote>footer::before {
    content: '— ';
    padding: 0 4px 0 31px;
}


.block-right {
    margin-right: 0;
    margin-left: auto;
}
.block-center {
    margin-left: auto;
    margin-right: auto;
}
.block-left {
    margin-left: 0;
    margin-right: auto;
}
.block-fill {
    text-align: justify;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-fill {
    text-align: justify;
}
