
html, body {
    font-family: sans-serif;
}

ul#toc {
    list-style-type: none;
  }

div {
    /* prevent table width 100% */
    /* display: table;  */
/*    width: fit-content; 
    height: fit-content;
    see: https://stackoverflow.com/questions/450903/how-to-make-div-not-larger-than-its-contents
    */
}

div#tableofcontents {
    margin-bottom: 80px;
}
div#tableofcontents ul {
    list-style-type: none;
}

div#tableofcontents ul.indexlevel-0 {
    font-size: 1.6rem;
    font-weight: bolder;
}
div#tableofcontents ul.indexlevel-0 > li {
    margin-top: 30px;
    margin-bottom: 20px;
}
div#tableofcontents ul.indexlevel-1 {
    font-size: 1.2rem;
    font-weight: bold;
}
div#tableofcontents ul.indexlevel-2 {
    font-size: 1rem;
    font-weight: normal;
}

/* this class is used for h0, headers for a 'part' */
div.page-part {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 180px;
    margin-top: 60px;
}

pre, code {
    background-color: #e8e8e8;
}
pre {
    padding: 10px 13px;
}
code {
    padding: 1px 6px;
}

figure {
    margin-left: 0;
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid
}

table td {
    border: 1px solid #888;
    padding: 2px 3px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
}
.table-left {
    margin-left: 0;
    margin-right: auto;
}
.table-right {
    margin-right: 0;
    margin-left: auto;
}
.table-fill {
    width: 100%;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-fill {
    text-align: justify;
}

dl {
    margin: 1rem 0;
}
dl div {
    margin: 2px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-inline-start: 20px;
}


/* uit bash manual */
/* https://tiswww.case.edu/php/chet/bash/bashref.html */

ul.no-bullet {
    list-style: none;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* einde */


blockquote > p {
    text-rendering: optimizeLegibility;
}
blockquote {
    font-style: italic;
    padding:20px;
    background:#fff;
    }
    blockquote p:before {
    content: '"';
    font-size: 30px;
    vertical-align: bottom;
    }
    blockquote p:after {
    content: '"';
    font-size: 30px;
    vertical-align: top;
    }
blockquote > footer {
    margin-top: .5em;
    padding: 0;
    color: #777;
    font-size: 12pt;
    text-align: left;
    font-style: italic;
}
blockquote > footer::before {
    content: '— ';
}