
html, body {
    width: 100%;
}

ul#toc {
    list-style-type: none;
  }

div {
    display: table; /* prevent table width 100% */
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}
.table-left {
    margin-left: 0;
    margin-right: auto;
}
.table-right {
    margin-right: 0;
    margin-left: auto;
}
.table-fill {
    width: 100%;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-fill {
    text-align: justify;
}




blockquote > p {
    text-rendering: optimizeLegibility;
}
blockquote {
    font-style: italic;
    padding:20px;
    background:#fff;
    }
    blockquote p:before {
    content: '"';
    font-size: 30px;
    vertical-align: bottom;
    }
    blockquote p:after {
    content: '"';
    font-size: 30px;
    vertical-align: top;
    }
blockquote > footer {
    margin-top: .5em;
    padding: 0;
    color: #777;
    font-size: 12pt;
    text-align: left;
    font-style: italic;
}
blockquote > footer::before {
    content: '— ';
}