
html, body {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}
.table-left {
    margin-left: 0;
    margin-right: auto;
}
.table-right {
    margin-right: 0;
    margin-left: auto;
}
.table-fill {
    width: 100%;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-fill {
    text-align: justify;
}




blockquote > p {
    text-rendering: optimizeLegibility;
}
blockquote {
    position: relative;
    width: 80%;
    border-radius: 3px;
    padding: 1rem 1.2rem;
    margin: 1rem auto 2rem;
    font-style: italic;
    text-align: center;
}
blockquote:before,
blockquote:after {
    position: absolute;
    top: 13px;
    font-size: 34px;
}
blockquote:before {
    content: "\"";
    margin-right: 13px;
    right: 100%;
}
blockquote:after {
    content: "\"";
    margin-left: 13px;
    left: 100%;  
}
blockquote > footer {
    margin-top: .5em;
    padding: 0;
    color: #777;
    font-size: 12pt;
    text-align: left;
    font-style: italic;
}
blockquote > footer::before {
    content: '— ';
}