
body {
    margin: 2%;
    border: 1px solid #888;
    box-shadow: 5px 5px 3px #ccc;
}

.multipage {
-webkit-columns: 400px 2;
   -moz-columns: 400px 2;
        column-width: 400px;
        -webkit-column-count: auto; /* Chrome, Safari, Opera */
        -moz-column-count: auto; /* Firefox */
        column-count: auto;
    column-gap: 6em;
    column-rule-color: #aaa;
    column-rule-style: solid;
    column-rule-width: 3em;
}

.multipage h1 {
    page-break-before: always;
    break-before: always;
}

.bookpage {
    -webkit-column-break-before: always;
    break-before: column;

}