
p {
    outline: 1px dashed red;
}
p::before {
    content: 'par';
    border: 1px solid black;
    top: -16px;
    position: relative;
}

table {
    outline: 1px dashed orangered;
}
table::before {
    content: 'par';
    border: 1px solid black;
    top: -26px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    outline: 1px dashed peachpuff;
}

.bookpage {
    outline: 1px dashed blueviolet;
}